{% extends './base.j2' %}

{% block style %}
    <style>
        .bottom-btn {
            margin-bottom: 0px;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block title %}
    {{ book.name }} - 书籍详情
{% endblock %}

{% block content %}
    <userbook-list-dlg
            v-show="visible"
            :dlg-visible.sync="visible"
            :selected-userbook.sync="selectedUserbook"
            :imgs2show.sync="imgs2show"

            request-url="{{ url_for('book_api.book_copies', book_id=book.id) }}"
    >
    </userbook-list-dlg>
    <userbook-img-dlg
            v-show="imgDlgVisible"
            :dlg-visible.sync="imgDlgVisible"
            :img-urls="imgs2show.urls"
            :current-index="imgs2show.index"
    >
    </userbook-img-dlg>
    {% set is_logined = current_user.is_authenticated %}
    <el-row type="flex" justify="center" style="padding: 20px;">
        <el-col :span="12">
            <el-container>
                <el-aside width="250px">
                    <el-card>
                        <div slot="header" style="text-align: center;font-size: 1rem;">
                            {{ book.name }}
                        </div>
                        <div style="overflow: hidden; text-align: center">
                            <img src="{{ book.detail_img_url }}" alt="{{ book.name }}" height="250px">
                        </div>
                    </el-card>
                </el-aside>
                <el-main>
                    {% from './home/utils.j2' import address_authors %}
                    {% set display_items=[(address_authors(book.authors), '作者'),
        (book.translator, '翻译者'), (book.publisher or '暂无信息', '出版社'),
         (book.pub_date, '出版时间'), (book.price, '定价'),
         (book.deprecation, '折旧程度'), (book.isbn, 'ISBN')] %}
                    {% for item, item_abbr in display_items %}
                        <p>{{ [item_abbr, item]|join(':') if item }}</p>
                    {% endfor %}
                    <div class="bottom-btn">
                        <el-button type="success" @click="visible = true">
                            借一本
                        </el-button>
                        # if is_logined
                        <request-button
                                type="primary"
                                icon="el-icon-star-off"
                                :clicked="{{ 'true' if current_user.has_collected(book) else 'false' }}"
                                clicked-msg="已添加"
                                request-url="{{ url_for('user_api.collect', book_id=book.id) }}">
                            添加到精灵箱
                        </request-button>
                        # else
                        <el-button
                                @click="(event) => document.location.href = '{{ url_for('home.login', n=request.url) }}'">
                            登陆后收藏
                        </el-button>
                        # endif
                    </div>
                </el-main>
            </el-container>
        </el-col>
        <el-col :span="6">
            <el-card v-if="Object.values(selectedUserbook).length">
                <h4 slot="header" style="margin: 0px;">
                    已选择的精灵
                </h4>
            <userbook-view
                    :user-book="selectedUserbook"
                    :imgs2show.sync="imgs2show"></userbook-view>
            </el-card>
        </el-col>
    </el-row>
{% endblock %}

{%- block vue_data -%}
    {
    visible: false,
    userbookDlgVisible: true,
    selectedUserbook: {},
    imgDlgVisible: false,
    imgs2show: {},
    }
{%- endblock -%}

{%-block vue_watch -%}
    imgs2show(newVal, oldVal){
    if(newVal.urls !== oldVal){
    this.imgDlgVisible = true;
    }
    },
    selectedUserbook(val){
    console.log('changed');
    },
{%- endblock -%}