{% extends 'base.j2' %}
{% from './home/utils.j2' import address_authors %}

{% block content %}
    <el-container>
        <el-main>
            # for rank_type, books in book_rank_map.items()
            <el-row style="border-bottom: 1px solid #333">
                <h1>{{ rank_type }}</h1>
            </el-row>
            <el-row style="text-align: center;margin-top: 10px">
                # for book in books
                <el-col :span="4" :xs="20">
                    <div class="thumbnail">
                        <img src="{{ book.cover_img_url}}" alt="{{ book.name }}"
                             width="150px" height="172px">
                    </div>
                    <div class="title">
                        <a href="{{ url_for('book.detail', bid=book.id) }}"
                           title="{{ book.name }}">{{ book.name }}</a>
                    </div>
                    <span class="author">{{ address_authors(book.authors) }}</span>
                </el-col>
                # endfor
            </el-row>
            # endfor
        </el-main>
    </el-container>
{% endblock %}