[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
pymysql = "*"
flask-sqlacodegen = "*"
flask-migrate = "*"
flask-login = "*"
flask-principal = "*"
python-magic = "*"
libmagic = "*"
cropresize2 = "*"
flask-wtf = "*"
flask-security = "*"
flask-uploads = "*"
flask-cors = "*"
flask-sslify = "*"
pyopenssl = "*"
requests = "*"

[requires]
python_version = "3.7"
