{% extends 'user_base.j2' %}

{% block main %}
    <postbook-form
            upload-img-url="{{ url_for('book.post_book') }}"
            submit-form-url="{{ url_for('user_api.new_genius') }}"
            redirect-url="{{ url_for('user.lending_genius') }}"
    >
    </postbook-form>
{% endblock %}